@import "../../../styles/var";

.banner {
    position: relative;

    padding-top: 130px;

    color: white;

    overflow: hidden;
}
.banner__container {
    position: relative;
    z-index: 2;
}

.banner__registration {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.banner__preTitle {
    position: relative;

    display: block;
    margin-bottom: 25px;

    color: #23272D;

    text-align: center;
    font-family: $brutal;
    font-size: 11px;
    font-style: normal;
    font-weight: 800;
    line-height: 13px;

    &::before {
        content: "";

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        height: 2px;

        background: #FF630B;

        @media (min-width: $md5+px) {
            height: 4px;
        }
    }

    @media (min-width: $md5+px) {
        margin-bottom: 45px;
        font-size: 23px;
        line-height: 28px;
    }

    @media (min-width: $md3+px) {
        font-size: 45px;
        line-height: 50px;
    }
}

.banner__mainTitle {
    display: block;

    font-family: $manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;

    //background: linear-gradient(90deg, #FFF 0%, #FF8719 31.25%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: $md5+px) {
        font-size: 64px;
    }

    @media (min-width: $md2+px) {
        font-size: 96px;
    }
}

.banner__controls {
    display: flex;
    justify-content: center;
}

.banner__descrList {
    margin-bottom: 40px;

    color: rgba(255, 255, 255, 0.70);

    font-family: $roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;

    @media (min-width: $md2+px) {
        max-width: 550px;
        font-size: 16px;
    }
}

.banner__descrItem {
    margin: 0;
}

.banner__descrItem + .banner__descrItem {
    margin-top: 16px;
}

.banner__preview {
    position: absolute;
    top: 230px;
    left: 0;
    right: 0;
    height: 500px;

    flex-grow: 2;

    @media (min-width: $md5+px) {
        top: auto;
        bottom: 0;
        max-width: 800px;
        height: 548px;
        margin: 0 auto;
    }

    @media (min-width: $md2+px) {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        height: auto;
        max-width: none;
    }
}

.banner__brands {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;

    @media (min-width: $md3+px) {
        padding-top: 110px;
    }
}

.banner__brandsItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 20px;

    @media (min-width: $md3+px) {
        width: 25%;
    }
}

.banner__brandsImg {
    width: 100%;
    object-fit: contain;
}
