@import "../../../styles/var";

.accounts {
  position: relative;

  margin-bottom: 120px;

  @media (min-width: $md2+px) {
    padding-bottom: 0;
    margin-bottom: 160px;
  }
}

.accounts__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;

  width: 100%;

  transform: translateX(-50%);

  @media (min-width: $md2+px) {
    top: -340px;
  }
}

.accounts__title {
  margin: 0;
  margin-bottom: 40px;

  color: #FFE0C5;

  text-align: center;
  text-shadow: 0px 0px 3px #FF871A, 0px 0px 6px #FF871A, 0px 0px 21px #FF871A, 0px 0px 42px #FF871A, 0px 0px 72px #FF871A, 0px 0px 126px #FF871A;
  font-family: $manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;

  @media (min-width: $md5+px) {
    font-size: 40px;
  }

  @media (min-width: $md2+px) {
    margin-bottom: 60px;
    font-size: 40px;
    text-align: left;
  }
}

.accounts__subtitle {
  display: block;
  margin-bottom: 12px;
  color: #FFF;

  font-family: $roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
  text-align: center;

  @media (min-width: $md5+px) {
    font-size: 32px;
  }

  @media (min-width: $md3+px) {
    font-size: 40px;
    text-align: left;
  }
}

.accounts__descr {
  display: block;
  margin-bottom: 100px;

  color: #FFF;

  color: rgba(255, 255, 255, 0.70);

  text-align: center;
  font-family: $roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;

  @media (min-width: $md5+px) {
    font-size: 16px;
  }

  @media (min-width: $md3+px) {
    max-width: 500px;
    font-size: 20px;
    text-align: left;
  }
}

.accounts__list {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $md5+px) {
    justify-content: center;
  }

  @media (min-width: $md2+px) {
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: -20px;
  }
}

.accounts__item {
  width: 100%;
  padding: 40px 20px 48px;
  padding-top: 90px;
  margin-top: 74px;

  border-radius: 20px;
  background: rgba(0, 0, 0, 0.30);
  backdrop-filter: blur(11px);

  @media (min-width: $md5+px) {
    min-width: 322px;
    margin-top: 100px;
  }

  @media (min-width: $md2+px) {
    max-width: 437px;
    margin-top: 125px;
    margin-left: 20px;
  }
}

.accounts__itemIcon {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 100px;
  filter: drop-shadow(0px 0px 0px #FF871A) drop-shadow(0px 0px 21px #FF871A);

  @media (min-width: $md5+px) {
    max-width: 140px;
  }

  @media (min-width: $md2+px) {
    max-width: 190px;
    top: -30px;
  }
}

.accounts__itemTitle {
  margin: 0;
  margin-bottom: 24px;

  color: #FF8719;

  font-family: $manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  @media (min-width: $md5+px) {
    margin-bottom: 20px;
    font-size: 24px;
  }

  @media (min-width: $md2+px) {
    margin-bottom: 12px;
    font-size: 32px;
  }
}

.accounts__itemDescr {
  color: rgba(255, 255, 255, 0.70);

  font-family: $roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.accounts__itemFeatures {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;

  list-style: none;
}

.accounts__itemFeature {
  position: relative;

  padding-left: 24px;
  margin: 0;
  margin-bottom: 8px;

  color: rgba(0, 0, 0, 0.70);

  font-family: $roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;

  &::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 6px;
    height: 6px;

    background: #FF8719;
    border-radius: 50%;

    @media (min-width: $md2+px) {
      width: 8px;
      height: 8px;
    }
  }

  @media (min-width: $md2+px) {
    font-size: 16px;
  }
}

.accounts__img {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 332px;
  height: 343px;

  @media (min-width: $md5+px) {
    width: 666px;
    height: 666px;
  }

  @media (min-width: $md2+px) {
    width: auto;
    height: auto;
  }
}