@import "../../../styles/var";

.button {
  padding: 9px 13px;
  cursor: pointer;
  position: relative;
  display: inline-flex;
  border-radius: 5px;
  background: #23272D;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-family: $brutal;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s;
  user-select: none;

  @media (min-width: $md5+px) {
    padding: 13px 18px;
    font-size: 15px;
  }

  @media (min-width: $md3+px) {
    padding: 28px 64px;
    font-size: 30px;
  }

  &:hover {
    color: white;
    border-color: #F9983E;
    background: #F9983E;
  }

  &Transparent {
    background: transparent;
    color: #FF8719;

    &:hover {
      background: #FF8719;
      color: white;
    }
  }
}

.shadowFree {
  box-shadow: none;
}

.--shadow .shadowFree {
  box-shadow: 0px 0px 1px 0px #FE9839, 0px 0px 3px 0px #FE9839, 0px 0px 11px 0px #FE9839, 0px 0px 22px 0px #FE9839, 0px 0px 38px 0px #FE9839, 0px 0px 66px 0px #FE9839;
}
