@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Roboto:wght@300;400&display=swap");

@font-face {
  font-family: "Brutal Type";
  src: url("../assets/font/BrutalType.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type";
  src: url("../assets/font/BrutalType-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brutal Type";
  src: url("../assets/font/BrutalType-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
